aside{
  display: flex; flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100%;
  background-color: white;
}
ul{
  list-style: none;
  
}




p{
  width: 80%;
  border-top: 1px solid gray;
}

#header-container{
  display: flex;
  align-items: center;
}
#header-container div{
  width: 70%;
  border-bottom: 1px solid gray;
}

