.main-container{
  display: flex; flex-direction: column;
  box-sizing: border-box;
}
thead{
  color: gray;
  font-weight: 900f;
}

th{
  text-align: left;
  padding: 20px;
  text-transform: uppercase;
  font-weight:bold;
  cursor: default;
  background-color: #4d468d;
}

td{
  padding: 20px;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
tr:hover{
  filter: brightness(1.2);
}
tr{
  background-color: #6E62E4;
  cursor: pointer;

}
table{
  background-color: inherit;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}


.table-container{
  width: 100%;
  overflow: scroll;
}
header{
  width: 100%;
  display: flex;
  justify-content: right;
  margin-bottom: 10px;
}
header input{
  padding: 10px;
  border: 1px solid gray;
  border-radius: 0.3rem;
}

.options-ul{
  display: inline-flex;
  list-style: none; 
  padding: 0;
}

.options-ul li button{
  background:none;
  border: none;
  cursor: pointer;
}