.layout-container{
  display: flex;
  height: 100%; width: 100%;
}
.section-main{
  display: flex; flex-direction: column;
  width: 100%;
  background-color: #F5F7FA;
  overflow-y: scroll;
}

.main{
  padding: 20px;
  height: 100%; 
}
.container-style{
  height: 100%;
  background-color:#6E62E4 ;
  border-radius: 10px;
  overflow: auto;
}