
/* Animations */

@keyframes appear{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* -------- */

/* Text Styles */
main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    /* position: relative;
    z-index: 10; */
    background: transparent;
}
h1,h2{

    margin: 0;
}
.about-us-title{
    opacity: 0;
    font-size: 100px;
    animation: appear 2s ease-in forwards;
    animation-delay: 2s;
}
/* ------ */

main{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 30;
}
.welcome-page-header{
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
}
.welcome-page-header div{
    display: flex;
    gap: 20px;
}
#about-us-section{
    margin-top: 200px;
}

button{
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    cursor: pointer;
}


/* background*/
#bg-blur{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    backdrop-filter: blur(10px);
    z-index: 3;
    
}

#video-bg{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    animation: appear 3s ease-in forwards;
}   