@keyframes appear_from_bottom {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}
.modal-bg{
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.32);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-divider{
  width: 100%;
  border: 1px solid black;
}
.modal-content{
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  padding: 20px;
  display: flex; flex-direction: column;
  align-items: center;
  animation: appear_from_bottom 0.5s;
}
.modal-content-header{
  margin-bottom: 40px;
}