<header>
  <h1>Docentes</h1>
</header>
@if(isDataReady){
  <app-table
    [data] = "docentes"
    [headers] = "headers"
    titleModalOnClickRow = "Docente" 
    (rowClicked) = "handleDocenteClick($event)"
    [opciones] = "true"
    >
  </app-table>
}@else{
  <app-loader></app-loader>
}

@if(isOpenModalViewDocenteInfo){
  <modal-layout
    (cerrado) = "closeModalDocente()"
  >
    <docente-profile-modal
      [docenteId] = "currentDocente?.id"
    >
      
    </docente-profile-modal>
  </modal-layout>
}