header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
  padding: 20px;
}

button{
  cursor: pointer;
}

header button{
  background: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  background-color: rgb(0, 143, 0);
  border: none;
}
header button:hover{
  filter: brightness(1.1);
}