main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #fff1e7;
  overflow-y: visible;
  padding: 0 10% 0 10%;
  box-sizing: border-box;
}
.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  background-color: #fff1e7;
}
.menu ul,
.actions ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  font-size: small;
}
.menu ul {
  margin-left: 30px;
  gap: 70px;
}

/* btns */

.btn-actions {
  background: none;
  border: 1px solid orangered;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  transition-duration: 1s;
  cursor: pointer;
  font-weight: bolder;
}

.btn-actions:hover {
  filter: brightness(1.2);
}

#loginBtn {
  background-color: #ffdec1;
  color: #f17532;
}
#signUpBtn {
  background-color: #f17532;
  color: white;
}

#get-started-btn {
  display: flex;
  align-items: center;
  background-color: #f17532;
  color: white;
}
/* +++++++ */

/* presentation - first section */
.presentation {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  overflow-y: hidden;
  gap: 20px;
}
.presentation header {
  font-size: 30px;
}
@keyframes appearFromBottom {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
.presentation img {
  width: 650px;
  animation-name: appearFromBottom;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

/* --- */
