form{
  display: inline-flex; align-items: center;
  gap:20px;
}

.docente-info{
  display: flex; flex-direction: column;
  align-items:flex-start;
  gap: 30px;
}

.fast-info{
  display: flex;
  gap: 30px;
  color: gray;
}

input{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.timestamp-info{
  display: flex; gap: 30px;
}

button{
  padding: 10px;
  border-radius: 5px;
  border:1px solid gray;
  background:none;
  color: white;
  font-weight: bolder;
  transition: filter 0.3s;
  cursor: pointer;
}
button:hover{
  filter: brightness(1.2);
}
#ver-grupos-btn{
  background-color: rgb(73, 137, 255);
}
#actualizar-btn{
  background-color: green;
}
#editar-btn{
  background-color: #02c4ff;
}

#cancelar-btn , #eliminar-btn{
  background-color: red;
}

.pfp_img{
  width: 120px;
}

.img-container{
  border: 1px solid black;
  border-radius: 50%;
  display: flex; align-items: center; justify-content: center;
  overflow: hidden;
  max-width: 130px;
}

ul{
  display: inline-flex;
  list-style: none;
  padding:0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.587);
  width: 100%;
  justify-content: center;
}
ul li button{
  color: gray;
  border: none;
  border-radius: 0;
  
}
ul li button:focus{
  border-bottom: 1px solid black;
  color:black;
}
header{
  display: flex; flex-direction: column;
  gap: 20px;
}