<section class="login-container">
  <h2 *ngIf="!esVistaRegistro">Iniciar sesión</h2>
  <h2 *ngIf="esVistaRegistro">Registrar nuevo usuario</h2>
  @if(!esVistaRegistro){
    <form [formGroup] = 'login_form'>
    <label>
      Email
      <input type="text" formControlName = "email" required />
    </label>
    <label>
      Contraseña
      <input type="password" formControlName = 'password'  required />
    </label>
    <button type="button" class="auth-button" (click)="handleAccion()">
      Entrar
    </button>
    </form>
  }
  @if(esVistaRegistro){
   <form [formGroup] = 'register_form '>
    <label>
      Nombre completo
      <input type="text" formControlName = 'nombre'>
    </label>
    <label>
      Email
      <input type="text" formControlName = "email" required />
    </label>
    <label>
      Telefono
      <input type="tel" formControlName = 'telefono' required>
    </label>
    <label>
      Contraseña
      <input type="password" formControlName = 'password'  required />
    </label>
    <label>
      Seleccionar Rol
      <select  formControlName = "rol" required>
        <option value="admin">Administrador</option>
        <option value="docente">Docente</option>
        <option value="alumno">Alumno</option>
      </select>
    </label>
    <button type="button" class="auth-button" (click)="handleAccion()">
      Registrar
    </button>
   </form>
  }
  <p class="toggle-link" (click)="toggleVista()">
    {{ esVistaRegistro ? '¿Ya tienes cuenta? Inicia sesión' : '¿Eres nuevo? Regístrate aquí' }}
  </p>
</section>